<link href="/stylesheets/index.css" rel="stylesheet">
<div id="menu">
    <h1>Extension Cable</h1>
    <a href="/play">Play Game</a><br>
    <a href="/settings">Settings</a><br>
    <a href="/about">About Us</a><br>
    <a href="/news">News</a><br>
</div>